
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: '微软雅黑';
}

div{
    overflow: hidden;
}

section{
	display: none;
}

button{
	font-size: 32px;
	font-weight: bold;
	padding: 4px 16px;
	border: 2px solid;
	border-radius: 16px;
	background-color: rgba(255, 252, 189, 0.75);
}

#bg{
	position: absolute;
	left: 0;
	top: 0;
    background-image: url(../images/back1.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    z-index: -1;
}

#timer{
	background-color: rgba(255,255,255,0.75);
	margin: 6px;
	padding: 6px;
	font-size: 24px;
	font-weight: bold;
	float: left;
	color: #444;
	text-align: center;
	border: 2px solid;
	border-radius: 10px;
	/*text-shadow: 2px 3px 2px #000;*/
}

#score{
	background-color: rgba(255,255,255,0.75);
	margin: 6px;
	padding: 6px;
	font-size: 24px;
	font-weight: bold;
	float: none;
	text-align: center;
	color: #444;
	border: 2px solid;
	border-radius: 10px;
}

#status{
	background-color: rgba(255, 255, 236, 0.75);
	margin: 6px;
	padding: 6px;
	float: none;
	font-size: 18px;
	font-weight: bold;
	color: #444;
	text-align: center;
	border: none;
	border-radius: 10px;
}

#refresh{
	background-color: rgba(122,0,0,0.75);
	margin-left: 6px;
	margin-right: 24px;
	padding: 2px 14px;
	font-size: 28px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	border: 2px solid;
	border-radius: 10px;
}

#board{
	margin: 12px;
	margin-left: 20px;
	margin-bottom: 2px;
}

#results{
	padding: 12px;
	font-size: 24px;
	font-weight: bold;
	color: #444;
	width: 85%;
	margin-top: 20%;
	margin-bottom: 10%;
	margin-left: 12px;
	margin-right: 12px;
	text-align: center;
	border-radius: 10px;
}

.num{
	color: #000;
	background-color: rgba(238,238,238,0.75);
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	float: left;
	border: 1px solid rgba(0,0,0,0.8);
}

#titledialog{
	position: absolute;
	z-index: 10;
	display: none;
}

#titletext{
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 20px;
}

#titletip{
	font-size: 18px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 20px;
}

#sec_welcome,#sec_finish{
	text-align: center;
}

#z1,#z2,#z3,#z4{
	font-size: 48px;
	text-shadow: 2px 3px 2px #000;
}

#z1{ font-size: 80px; color: #f40; }
#z2{ color: #0f0; }
#z3{ color: #0ff; }
#z4{ color: #ff8800; }

.focus{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 10px;
}

.mark{
	color: #f0f;
}
.red{
	color: #f00;
}

#start{
	font-size: 24px;
	background-color: rgba(234, 255, 84, 0.75);
	animation: breathing 0.5s linear infinite;
	-webkit-animation: breathing 0.5s linear infinite;
}

#retry{
	background-color: rgba(130, 255, 47, 0.75);
	font-size: 28px;
	animation: breathing 0.5s linear infinite;
	-webkit-animation: breathing 0.5s linear infinite;
}

#share{
	margin-top: 30px;
	background-color: rgba(255, 169, 40, 0.75);
	font-size: 28px;
	animation: breathing 0.5s linear infinite;
	-webkit-animation: breathing 0.5s linear infinite;
}

@-webkit-keyframes breathing {
	0% { width: 220px; }
	50% { width: 230px; }
	100% { width: 220px; }
}

#sharetip{
	background-image: url('../images/sharetip.png');
	background-size: 100%;
	margin: 0;
	padding: 0;
	display:none;
	z-index: 910;
}
